input{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5rem;
}
button {
    padding: 0.5rem 1rem;
    background-color:gold;
    color: goldenrod;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.footer {
  background: bisque;
  color: #343a40;
  padding: 2rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
  border-radius: 16px;
}
.footer-links {
  margin-top: 1rem;
}
.footer-link {
  display: inline-block;
  margin-right: 1rem;
  color: #343a40;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
}